{% load static %}
<!-- Footer -->
<footer class="container">
    <div class="row">
        <div class="col-12 text-center p-1">
            <img id="jb_the_penguin" class="float" src="{% static 'img/jbthepenguin.png' %}"><small>© Copyright 2023 AllinOne - No right reserved</small>
        </div>
        <div class="col-12 text-center p-2">
                <a href="https://github.com/" role="button" onclick="window.open(this.href); return false;"><img src="{% static 'img/github.png' %}"></a>
                <a href="https://twitter.com/helioduong" role="button" onclick="window.open(this.href); return false;"><img src="{% static 'img/twitter.png' %}"></a> 
            <!--    <a href="https://www.linkedin.com/" role="button" onclick="window.open(this.href); return false;"><img src="{% static 'img/linkedin.png' %}"></a> -->
                <a href="mailto:allin.globlal@gmail.com"><img src="{% static 'img/mailto.png' %}"></a>
        </div>
    </div>
</footer>